<% content_for(:title, "#{@line.name} | Trimet") %>

<h1> <%= @line.name %> </h1>
  <h3>Stations on this line</h3>
  <ul>
  <% @line.stations.each do |station| %>
      <li><%= link_to "#{station.name}", station_path(station) %></li>
  <% end %>
  </ul>
<%= link_to "Line Menu", lines_path, :class=> "btn btn-primary" %>
<%= link_to "Edit Line", edit_line_path, :class=> "btn btn-warning" %>
<%= link_to "Delete", line_path(@line),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
