<% content_for(:title, "#{@station.name} | Trimet") %>

<h1> <%= @station.name %> </h1>
  <h3>Lines for this Station</h3>
  <ul>
  <% @station.lines.each do |line| %>
    <li><%= link_to "#{line.name}", line_path(line) %></li>
      <ul>
      <% line.buses.each do |bus| %>
          <li><%= bus.name %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>
<%= link_to "Station Menu", stations_path, :class=> "btn btn-primary" %>
<%= link_to "Edit Station", edit_station_path, :class=> "btn btn-warning" %>
<%= link_to "Delete", station_path(@station),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
